section {
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

div {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;

    svg {
        fill: var(--white);
        cursor: pointer;
        border-radius: 50%;
        padding: 6px;
        height: 32px;
        transition: background-position 500ms, fill 250ms;

        &:nth-child(2) {
            background: linear-gradient(0deg, var(--black) 0%, var(--purple) 50%, var(--purple) 100%);
            background-size: 100% 200%;
        }

        &:nth-child(1) {
            background: radial-gradient(circle, var(--black) 0%, var(--purple) 50%);
        }

        &:nth-child(2):hover,
        &:nth-child(2):focus {
            transition: background-position 500ms;
            background-position: 100% 100%;
            background-size: 200% 200%;
        }

        &:nth-child(1):hover,
        &:nth-child(1):focus {
            transition: background-position 500ms;
            fill: var(--utility-white);
            background-position: 100% 100%;
            background-size: 200% 200%;
        }
    }
}

nav {
    background-color: var(--grey);
    position: absolute;
    left: -34px;
    margin-top: -6px;
    border-radius: 6px;

    p {
        padding-inline: 3px;
        cursor: pointer;
        transition: color 200ms;

        &:hover,
        &:focus {
            transition: color 200ms;
            color: var(--purple);
        }
    }
}

.small-logo {
    display: none;
}

.back {
    height: 44px !important;
    cursor: pointer;
    fill: var(--white);

    &:hover,
    &:focus {
        animation: rotateAndMove 0.5s ease-in-out forwards;
    }
}

.logout-svg {
    fill: var(--white) !important;
    border-radius: 0 !important;
    padding: 0;
    height: 32px;
    width: 32px;
    transition: none !important;
    background: none !important;
}

.button {
    display: flex;
    align-items: center;
}

@keyframes rotateAndMove {
    0% {
        transform: rotate(0deg) translateX(0);
    }

    70% {
        transform: rotate(360deg) translateX(0);
        fill: var(--white);
    }

    100% {
        transform: rotate(360deg) translateX(-4px);
        fill: var(--purple);
    }
}

@media screen and (min-width: 1921px) {
    section {
        max-width: 1920px;
        left: calc(50svw - 960px);
    }

    .logo {
        height: 60px;
    }

    div {
        svg {
            height: 48px;
        }
    }

    nav {
        margin-left: 140px;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        display: none;
    }

    .small-logo {
        display: block;
        padding-right: 60px;
    }
}

@media screen and (max-width: 480px) {
    .small-logo {
        padding-right: 10px;
    }
}