section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82px;
    gap: 48px;
}

a {
    cursor: pointer;
    background-image: linear-gradient(100deg, var(--purple), var(--card-bg), var(--error-red));
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;

    &:hover,
    &:focus {
        background-size: 100% 3px;
    }
}

a:nth-child(2) {
    background-position: right bottom;
    background-image: linear-gradient(100deg, var(--error-red), var(--card-bg), var(--purple));
}

.to-side {
    justify-content: right;
}

@media screen and (max-width: 768px) {
    .d-none {
        display: none;
    }
}