.card {
    height: 424px;

    >div {
        text-align: center;
        line-height:23px;
    }
}

h1 {
    line-height:46px;
}

p {
    font-size: 15px;
    color: var(--error-red);
    margin-bottom: -18px;
    margin-top: 4px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;

    >div {
        position: relative;

        svg {
            fill: var(--purple);
            position: absolute;
            top: 19px;
            left: 10px;
        }
    }
}

.info {
    top: 16px!important;
}

.error {
    opacity: 0;
}

.errorVisible {
    opacity: 1;
}

@media screen and (min-width: 1921px) {
    .card {
        height: 500px;
    }
}

@media screen and (max-width: 540px) {
    p {
        font-size: 14px;
    }
}