<div class="invisHeader"></div>

<section id='generator_results'>
    <div id='generator_results_content'>
        <h1>Impressum</h1><br>
        <h2>Verantwortliche(r)</h2><br>

        <p class='generator_user_input'>Alexander Hardtke</p><br>

        <h3>Postanschrift</h3>
        <p class='generator_user_input'>Am Färberturm 7<br />
            86153 Augsburg</p><br>

        <h3>Kontakt</h3>
        <p>E-Mail: 5yl3kz&#0064;googlemail.com</p>
        <p>Telefon: 01759434431</p><br>

        <h2>Hinweise zur Website</h2><br>
        <h3>Urheberrechtliche Hinweise</h3>
        <p class='generator_user_input'>© 2025 Developer Akademie GmbH</p><br>

        <p><em>Dieses Impressum wurde mit Hilfe des <a href="https://www.activemind.de/generatoren/impressum/"
                    target="_blank" rel="noopener">Impressums-Generators der activeMind AG</a> erstellt (Version
                2024-07-05).</em></p>
    </div>
</section>