img {
    position: absolute;
    inset: 0;
    z-index: -2;
    max-height: 100svh;
    height: 100svh;
    min-width: 100svw;
    width: 100svw;
    object-fit: cover;
}

div {
    position: absolute;
    inset: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 7);
    background: var(--background);
}

.fixed{
    position: fixed;
}