header {
    position: fixed;
    bottom: 60px;
    right: 96px;
    min-width: 540px;
    display: flex;
    align-items: center;
    background-color: var(--purple);
    border-radius: 20px;
    z-index: 9;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateX(120%);
    transition: transform 0.25s ease, opacity 0.2s ease;
}

.side {
    width: 20px;
    height: 80px;
    background-color: var(--error-red);
    border-radius: 20px 0 0 20px;
}

.red {
    background-color: var(--error-red);
}

.green {
    background-color: var(--green);
}

.feedback-overlay {
    padding: 24px 32px 24px 0px;
    height: 80px;
    width: 520px;
    display: flex;
    align-items: center;
    gap: 16px;

    >div {
        >svg {
            fill: var(--white);
        }
    }

    >p {
        -webkit-line-clamp: 2;
        line-clamp: 2;
        text-overflow: ellipsis;
        font-size: 16px;
        width: 388px;
    }

    >div {
        height: 32px;
        margin-left: 8px;
    }

    >hr {
        height: 32px;
        width: 2px;
        color: var(--white);
    }

    >a {
        cursor: pointer;

        &:hover>svg {
            fill: var(--black);
        }

        >svg {
            fill: var(--white);
        }
    }
}

.move-feedback {
    transform: translateX(0%);
    opacity: 1;
}

@media screen and (min-width: 1921px) {
    header {
        right: calc(50vw - 864px);
    }

    .side {
        height: 94px;
        width: 24px;
    }

    .feedback-overlay {
        height: 94px;
        width: 598px;

        >div {
            >svg {
                margin-left: 10px;
                width: 38px;
                height: 38px;
            }
        }

        >p {
            font-size: 22px;
            width: 470px;
        }

        >hr {
            height: 38px;
        }

        >a {
            >svg {
                height: 14px;
                width: 14px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        right: 48px;
    }
}

@media screen and (max-width: 636px) {
    header {
        width: 80%;
        min-width: calc(100vw - 96px);
    }

    .feedback-overlay {
        height: 112px;
        width: 100%;
        padding: 24px 40px 24px 0px;

        >hr {
            height: 58px;
        }
    }

    .side {
        min-width: 20px;
        height: 112px;
    }
}

@media screen and (max-width: 480px) {
    header {
        bottom: 0;
        right: 0;
        left: 0;
        min-width: 100%;
        max-width: 100%;
        border-radius: 0px;
        transform: translateY(120%);
        transition: transform 0.25s ease, opacity 0.2s ease;
    }

    .side {
        position: absolute;
        top: -16px;
        width: 100%;
        height: 16px;
        border-radius: 20px 20px 0 0;
    }

    .feedback-overlay {
        padding: 32px 24px 32px 24px;
        height: 216px;
        align-items: flex-start;

        >hr {
            display: none;
        }

        >p {
            padding-top: 5px;
        }

        >a {
            >svg {
                height: 32px;
                width: 20px;
            }
        }
    }

    .move-feedback {
        transform: translateY(0%);
        opacity: 1;
    }
}