header {
    position: absolute;
    bottom: 60px;
    right: 20px;
    width: 540px;
    display: flex;
    align-items: center;
    background-color: var(--purple);
    border-radius: 20px;
    transform: translateX(120%);
    transition: transform 0.5s ease-in-out;
}

.red-side {
    width: 20px;
    height: 80px;
    background-color: var(--error-red);
    border-radius: 20px 0 0 20px;
}

.feedback-overlay {
    padding: 24px 32px 24px 0px;
    height: 80px;
    width: 520px;
    display: flex;
    align-items: center;
    gap: 16px;

    >div {
        >svg {
            fill: var(--white);
        }
    }

    >p {
        -webkit-line-clamp: 2;
        line-clamp: 2;
        text-overflow: ellipsis;
        font-size: 16px;
    }

    >div {
        height: 32px;
        margin-left: 8px;
    }

    >hr {
        height: 32px;
        width: 2px;
        color: var(--white);
    }

    >a {
        cursor: pointer;

        &:hover>svg {
            fill: var(--black);
        }

        >svg {
            fill: var(--white);
        }
    }
}

.moveFeedback {
    transform: translateX(0%);
}