aside {
  position: absolute;
  inset: 0;
  z-index: 11;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;

  >div {
    width: 100%;
    height: auto;
    max-width: 1600px;
    max-height: 100svh;
  }
}

video {
  max-width: 100%;
  height: auto;
}

.video-js {
  width: 100%;
  height: auto;
}

header {
  padding: 10px 32px 10px 32px;
  position: fixed;
  top: 0;
  z-index: 12;
  height: 108px;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(0);
  transition: transform 0.5s ease, opacity 0.5s ease-in;
}

p {
  color: var(--white);
}

.back {
  height: 32px;
  cursor: pointer;
  fill: var(--white);

  &:hover,
  &:focus {
    animation: rotateAndMove 0.5s ease-in-out forwards;
  }
}

::ng-deep .vjs-control-bar {
  background-color: none;
}

::ng-deep .vjs-skip-back .vjs-icon-placeholder {
  background-image: url('/assets/img/replay_10.svg');
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0;
  width: 24px;
  height: 24px;
}

::ng-deep .vjs-skip-forward .vjs-icon-placeholder {
  background-image: url('/assets/img/forward_10.svg');
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0;
  width: 24px;
  height: 24px;
}

@keyframes rotateAndMove {
  0% {
    transform: rotate(0deg) translateX(0);
  }

  70% {
    transform: rotate(360deg) translateX(0);
    fill: var(--white);
  }

  100% {
    transform: rotate(360deg) translateX(-4px);
    fill: var(--purple);
  }
}

@media screen and (min-width: 1921px) {
  header {
    max-width: 1920px;
    left: calc(50svw - 960px);
  }

  .back {
    height: 42px;
  }

  .smallLogo {
    height: 42px;
  }
}