.card {
    height: 492px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;

    >div {
        position: relative;

        svg {
            fill: var(--purple);
            position: absolute;
            top: 17px;
            left: 10px;

            &:nth-of-type(2) {
                left: auto;
                right: 10px;
            }
        }
    }
}

.info {}

.visible {}

.error {}

@media screen and (min-width: 1921px) {
    div {
        height: 540px;
    }
}