.invisHeader {
    background: linear-gradient(180deg, var(--black) 30%, rgba(0, 0, 0, 0.1) 100%);
    position: fixed;
    top: 0;
    z-index: 3;
    height: 100px;
    width: 100%;
}

.invisBottom {
    background: linear-gradient(0deg, var(--black) 30%, rgba(0, 0, 0, 0.1) 100%);
    position: absolute;
    bottom: -20px;
    z-index: 0;
    height: 50px;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: calc(100svh - 316px);
    width: 480px;
    max-width: 100%;
    padding-bottom: 32px;
    gap: 32px;
    padding-left: 30px;

    h2 {
        font-size: 88px;
        margin-block: 32px;
        z-index: 2;
    }

    p {
        font-size: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        z-index: 2;
    }
}

section {
    min-height: calc(100svh - 200px);
    padding-inline: 66px;

    h3 {
        margin-block: 16px;
        padding-left: 30px;
    }
}

.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease-in;
}

.carousel {
    width: auto;
    padding-block: 8px;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    padding-inline: 30px;
    -webkit-mask-image: linear-gradient(90deg, transparent 12px, var(--black) 33px, var(--black) 92%, transparent);
    mask-image: linear-gradient(90deg, transparent 12px, var(--black) 33px, var(--black) 92%, transparent);
}

.carousel-no-slider {
    justify-content: flex-start;
    gap: 16px;
    -webkit-mask-image: none;
    mask-image: none;
}

.categorys {
    position: relative;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.preview {
    min-width: 213px;
    max-width: 213px;
    height: 120px;
    cursor: pointer;
    position: relative;

    &:hover,
    &:focus {
        h4 {
            display: flex;
            background-color: var(--black);
        }
    }

    img {
        position: absolute;
        min-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 0.2s ease-in;
    }

    video {
        position: absolute;
        min-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 0.2s ease-in;
    }

    h4 {
        font-size: 16px;
        position: relative;
        bottom: 27px;
        color: var(--white);
        display: none;
        justify-content: center;
        border-radius: 26px 26px 0 0;
    }
}

.arrow {
    width: 32px;
    fill: var(--white);
    cursor: pointer;
    opacity: 0;
    position: absolute;
    z-index: 2;
    bottom: 44px;

    &:hover,
    &:focus {
        transition: opacity 250ms ease-in;
        opacity: 1;
    }
}

.reverse {
    left: auto;
    right: 0px;
    rotate: 180deg;
}

@media screen and (min-width: 1921px) {
    .invisBottom {
        height: 62px;
    }

    .preview {
        min-width: 288px;
        max-width: 288px;
        height: 162px;
    }

    .arrow {
        width: 46px;
        bottom: 76px;
    }

    header {
        width: 35vw;
        padding-bottom: 48px;
        gap: 48px;
        height: calc(100svh - 382px);

        h2 {
            font-size: 116px;
            margin-block: 48px;
        }

        p {
            font-size: 26px;
        }
    }

    section {
        h3 {
            margin-block: 20px;
        }

        h4 {
            font-size: 22px;
        }
    }

    .carousel {
        -webkit-mask-image: linear-gradient(90deg, transparent 12px, var(--black) 33px, var(--black) 94%, transparent);
        mask-image: linear-gradient(90deg, transparent 12px, var(--black) 33px, var(--black) 94%, transparent);
    }
}

@media screen and (min-width: 2640px) {
    .preview {
        min-width: 352px;
        max-width: 352px;
        height: 198px;
    }

    header {
        width: 35vw;
        padding-bottom: 48px;
        gap: 48px;
        height: calc(100svh - 416px);
    }
}

@media screen and (min-width: 3000px) {
    header {
        height: calc(100svh - 472px);
    }

    .arrow {
        width: 56px;
        bottom: 96px;
    }

    .preview {
        max-width: 448px;
        min-width: 448px;
        height: 252px;
    }

    .carousel {
        -webkit-mask-image: linear-gradient(90deg, transparent 12px, var(--black) 33px, var(--black) 96%, transparent);
        mask-image: linear-gradient(90deg, transparent 12px, var(--black) 33px, var(--black) 96%, transparent);
    }
}

@media screen and (max-width: 840px) {
    header {
        height: calc(100svh - 306px);

        h2 {
            font-size: 64px;
        }
    }

    .preview {
        min-width: 192px;
        max-width: 192px;
        height: 108px;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding-inline: 18px;
    }

    .carousel {
        -webkit-mask-image: linear-gradient(90deg, transparent 12px, var(--black) 33px, var(--black) 94%, transparent);
        mask-image: linear-gradient(90deg, transparent 12px, var(--black) 33px, var(--black) 94%, transparent);
    }

    .arrow {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    section {
        padding-inline: 0;
    }

    .carousel {
        -webkit-mask-image: linear-gradient(90deg, transparent 8px, var(--black) 22px, var(--black) 85%, transparent);
        mask-image: linear-gradient(90deg, transparent 8px, var(--black) 22px, var(--black) 85%, transparent);
        padding-inline: 16px;
    }

    .preview {
        min-width: 170px;
        max-width: 170px;
        height: 96px;
    }
}