<main>
    <main>

        <h1>{{'main.headline' | translate}}</h1>

        <b>{{'main.watch' | translate}}</b>

        <p>{{'main.info' | translate}}</p>

        <div>
            <input tabindex="4" [(ngModel)]="email" (keydown.enter)="moveToRegister(email)" type="email"
                placeholder="{{'main.email' | translate}}">
            <a (click)="moveToRegister(email)" (keydown.enter)="moveToRegister(email)"
                (keydown.space)="moveToRegister(email)" tabindex="5" class="button">{{'main.signUp' | translate}}<svg
                    width="8" height="13" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.6 6.5L0 1.9L1.4 0.5L7.4 6.5L1.4 12.5L0 11.1L4.6 6.5Z" />
                </svg>
            </a>
        </div>

    </main>
</main>