b {
    display: none;
}

p {
    text-align: center;
}

svg {
    margin-left: 9px;
    margin-right: 4px;
}

div {
    display: flex;
    gap: 16px;

    input {
        height: 48px;
        width: 360px;
        border-radius: 40px;
        border: solid 1px var(--white);
        background: var(--text-field-bg);
        padding-inline: 24px;

        &::placeholder {
            color: var(--white);
        }
    }

    svg {
        fill: var(--white);
    }
}

@media screen and (min-width: 1921px) {
    div {
        input {
            height: 60px;
        }
    }
}

@media screen and (max-width: 768px) {
    div {
        flex-direction: column;
        align-items: center;
    }

    b {
        display: block;
        font-size: 20px;
        text-align: center;
    }

    p {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    div {
        width: 100%;

        input {
            width: 100%;
        }
    }
}