html.darkmode {
    --white: #ffffff;
    --black: #141414;
    --error-red: #FF002E;
    --purple: #2E3EDF;
    --grey: #5E5E5E;
    --utility-white: #D9D9D9;
    --text-field-bg: #1C1A20CC;
    --card-bg: #1B1B22D9;
}

html.lightmode {
    --white: #121212;
    --black: #ffffff;
    --error-red: #FF3B30;
    --purple: #7c8fff;
    --grey: #8E8E93;
    --utility-white: #F2F2F7;
    --text-field-bg: #FFFFFF;
    --card-bg: #F9F9F9;
}

* {
    color: var(--white);
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    scrollbar-width: none;
    font-family: 'DM Sans';
    font-size: 18px;
    text-decoration: none;
}

html {
    background-color: var(--black);
}

section {
    padding-inline: 96px;
}

h1 {
    font-size: 48px;
    text-align: center;
}

main {
    padding-inline: 96px;
    min-height: calc(100svh - 190px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.redBorder {
    input {
        border: solid 1px var(--error-red) !important;
    }

    svg {
        fill: var(--error-red) !important;
    }
}

.card {
    background-color: var(--card-bg);
    width: 520px;
    max-width: 100%;
    border-radius: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 43px 56px 43px 56px;
    gap: 32px;

    input {
        background-color: var(--text-field-bg);
        width: 100%;
        padding: 11px 36px 11px 36px;
        border-radius: 12px;
        border: solid 1px var(--purple);

        &:hover,
        &:focus-visible {
            outline: none;
            border: solid 1px var(--grey);
        }
    }
}

.button {
    font-weight: 700;
    border-radius: 40px;
    background: linear-gradient(0deg, var(--black) 0%, var(--purple) 50%, var(--purple) 100%);
    background-size: 100% 200%;
    padding: 12px 24px 12px 24px;
    cursor: pointer;
    border: 1px solid var(--purple);

    &:hover,
    &:focus {
        transition: background-position 500ms;
        background-position: 100% 100%;
    }
}

@media screen and (min-width: 1921px) {
    * {
        font-size: 26px;
    }

    h1 {
        font-size: 60px;
    }

    .card {
        width: 640px;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding-inline: 48px;
    }

    main {
        padding-inline: 48px;
    }
}

@media screen and (max-width: 480px) {
    section {
        padding-inline: 16px;
    }

    main {
        padding-inline: 16px;
    }

    h1 {
        font-size: 40px;
    }

    .card {
        padding: 43px 24px 43px 24px;
    }
}

@media screen and (max-width: 380px) {
    .card {
        padding: 43px 20px 43px 20px;
    }
}

/* dm-sans-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../public/assets/fonts/dm-sans-v15-latin-300.woff2') format('woff2');
}

/* dm-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../public/assets/fonts/dm-sans-v15-latin-regular.woff2') format('woff2');
}

/* dm-sans-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../public/assets/fonts/dm-sans-v15-latin-500.woff2') format('woff2');
}

/* dm-sans-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../public/assets/fonts/dm-sans-v15-latin-600.woff2') format('woff2');
}

/* dm-sans-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../public/assets/fonts/dm-sans-v15-latin-700.woff2') format('woff2');
}

/* dm-sans-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../public/assets/fonts/dm-sans-v15-latin-800.woff2') format('woff2');
}